!*/

!.gitignore
!README.md
**/0/**

!**/system/**
!**/constant/transportProperties
!**/constant/turbulenceProperties
!**/constant/momentumTransport
!**/constant/physicalProperties
!**/constant/g

!**/constant/triSurface/*.stl
**/*.eMesh
**/*.eMesh.gz

!**/system/

**/constant/polyMesh/**
**/constant/triSurface/**
**/constant/extendedFeatureEdgeMesh/**
**/dynamicCode/**

**/system/decomposeParDict

[1-9]*/
[1-9][0-9]*/
[0-9][0-9][0-9]*/
processor*/

postProcessing/
VTK/
**/*.vtk
**/*.vtp
**/*.vtu
**/*.obj
**/*.eMesh
**/*.foam

log.*
*.log
**/illegalFaces
**/checkMesh.log
*.swp
*~
.DS_Store

.ipynb_checkpoints/
